<div>
    <h2 id="page-heading">
        <span jhiTranslate="saibDigitalWalletApp.transactionAttribute.home.title">Transaction Attributes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-attribute" [routerLink]="['/transaction-attribute/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="saibDigitalWalletApp.transactionAttribute.home.createLabel">
            Create a new Transaction Attribute
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'saibDigitalWalletApp.transactionAttribute.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="transactionAttributes?.length === 0">
        <span jhiTranslate="saibDigitalWalletApp.transactionAttribute.home.notFound">No transactionAttributes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactionAttributes && transactionAttributes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionAttribute.narativeLine1">Narative Line 1</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionAttribute.narativeLine2">Narative Line 2</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionAttribute.narativeLine3">Narative Line 3</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionAttribute.narativeLine4">Narative Line 4</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionAttribute.clientRefNumber">Client Ref Number</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactionAttribute of transactionAttributes ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction-attribute', transactionAttribute.id, 'view']">{{ transactionAttribute.id }}</a></td>
                    <td>{{ transactionAttribute.narativeLine1 }}</td>
                    <td>{{ transactionAttribute.narativeLine2 }}</td>
                    <td>{{ transactionAttribute.narativeLine3 }}</td>
                    <td>{{ transactionAttribute.narativeLine4 }}</td>
                    <td>{{ transactionAttribute.clientRefNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction-attribute', transactionAttribute.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction-attribute', transactionAttribute.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transactionAttribute)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
