<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kYCInfo">
            <h2><span jhiTranslate="saibDigitalWalletApp.kYCInfo.detail.title">KYC Info</span> {{ kYCInfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saibDigitalWalletApp.kYCInfo.level">Level</span></dt>
                <dd>
                    <span>{{ kYCInfo.level }}</span>
                </dd>
                <dt><span jhiTranslate="saibDigitalWalletApp.kYCInfo.status">Status</span></dt>
                <dd>
                    <span>{{ kYCInfo.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kyc-info', kYCInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
