<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-beneficiary-bank-heading" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.home.createOrEditLabel">Create or edit a Beneficiary Bank</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.bankCode" for="field_bankCode">Bank Code</label>
                    <input type="text" class="form-control" name="bankCode" id="field_bankCode"
                           formControlName="bankCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.bankName" for="field_bankName">Bank Name</label>
                    <input type="text" class="form-control" name="bankName" id="field_bankName"
                           formControlName="bankName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.bankCountry" for="field_bankCountry">Bank Country</label>
                    <input type="text" class="form-control" name="bankCountry" id="field_bankCountry"
                           formControlName="bankCountry"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.bankBranchCode" for="field_bankBranchCode">Bank Branch Code</label>
                    <input type="text" class="form-control" name="bankBranchCode" id="field_bankBranchCode"
                           formControlName="bankBranchCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.beneficiaryBank.branchNameAndAddress" for="field_branchNameAndAddress">Branch Name And Address</label>
                    <input type="text" class="form-control" name="branchNameAndAddress" id="field_branchNameAndAddress"
                           formControlName="branchNameAndAddress"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
