<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="districtList">
            <h2><span jhiTranslate="saibDigitalWalletApp.districtList.detail.title">District List</span> {{ districtList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saibDigitalWalletApp.districtList.districtId">District Id</span></dt>
                <dd>
                    <span>{{ districtList.districtId }}</span>
                </dd>
                <dt><span jhiTranslate="saibDigitalWalletApp.districtList.districtName">District Name</span></dt>
                <dd>
                    <span>{{ districtList.districtName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/district-list', districtList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
