<div>
    <h2 id="page-heading">
        <span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.home.title">Calculation Info Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-calculation-info-details" [routerLink]="['/calculation-info-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.home.createLabel">
            Create a new Calculation Info Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'saibDigitalWalletApp.calculationInfoDetails.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="calculationInfoDetails?.length === 0">
        <span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.home.notFound">No calculationInfoDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="calculationInfoDetails && calculationInfoDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.totalDebitAmount">Total Debit Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.destinationAmount">Destination Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.destinationExchangeRate">Destination Exchange Rate</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.destinationCurrencyIndicator">Destination Currency Indicator</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.discountAmount">Discount Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.transCalculation">Trans Calculation</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.chargeAmount">Charge Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.calculationInfoDetails.destChargeAmount">Dest Charge Amount</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calculationInfoDetails of calculationInfoDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/calculation-info-details', calculationInfoDetails.id, 'view']">{{ calculationInfoDetails.id }}</a></td>
                    <td>{{ calculationInfoDetails.totalDebitAmount }}</td>
                    <td>{{ calculationInfoDetails.destinationAmount }}</td>
                    <td>{{ calculationInfoDetails.destinationExchangeRate }}</td>
                    <td>{{ calculationInfoDetails.destinationCurrencyIndicator }}</td>
                    <td>{{ calculationInfoDetails.discountAmount }}</td>
                    <td>
                        <div *ngIf="calculationInfoDetails.transCalculation">
                            <a [routerLink]="['/transaction-info', calculationInfoDetails.transCalculation?.id, 'view']" >{{ calculationInfoDetails.transCalculation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="calculationInfoDetails.chargeAmount">
                            <a [routerLink]="['/charge-amount', calculationInfoDetails.chargeAmount?.id, 'view']" >{{ calculationInfoDetails.chargeAmount?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="calculationInfoDetails.destChargeAmount">
                            <a [routerLink]="['/destination-charge-amount', calculationInfoDetails.destChargeAmount?.id, 'view']" >{{ calculationInfoDetails.destChargeAmount?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/calculation-info-details', calculationInfoDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/calculation-info-details', calculationInfoDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(calculationInfoDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
