<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankList">
            <h2><span jhiTranslate="saibDigitalWalletApp.bankList.detail.title">Bank List</span> {{ bankList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saibDigitalWalletApp.bankList.bankId">Bank Id</span></dt>
                <dd>
                    <span>{{ bankList.bankId }}</span>
                </dd>
                <dt><span jhiTranslate="saibDigitalWalletApp.bankList.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{ bankList.bankName }}</span>
                </dd>
                <dt><span jhiTranslate="saibDigitalWalletApp.bankList.branchIndicator">Branch Indicator</span></dt>
                <dd>
                    <span>{{ bankList.branchIndicator }}</span>
                </dd>
                <dt><span jhiTranslate="saibDigitalWalletApp.bankList.flagLabel">Flag Label</span></dt>
                <dd>
                    <span>{{ bankList.flagLabel }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-list', bankList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
