<div>
    <h2 id="page-heading">
        <span jhiTranslate="saibDigitalWalletApp.transactionDetails.home.title">Transaction Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-details" [routerLink]="['/transaction-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="saibDigitalWalletApp.transactionDetails.home.createLabel">
            Create a new Transaction Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'saibDigitalWalletApp.transactionDetails.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="transactionDetails?.length === 0">
        <span jhiTranslate="saibDigitalWalletApp.transactionDetails.home.notFound">No transactionDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactionDetails && transactionDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.debitAmount">Debit Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.debitCurrency">Debit Currency</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.creditAmount">Credit Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.creditCurrency">Credit Currency</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.exchangeRate">Exchange Rate</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.fees">Fees</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.purposeOfTransfer">Purpose Of Transfer</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.transactionDetails.partnerReferenceNumber">Partner Reference Number</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactionDetails of transactionDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction-details', transactionDetails.id, 'view']">{{ transactionDetails.id }}</a></td>
                    <td>{{ transactionDetails.debitAmount }}</td>
                    <td>{{ transactionDetails.debitCurrency }}</td>
                    <td>{{ transactionDetails.creditAmount }}</td>
                    <td>{{ transactionDetails.creditCurrency }}</td>
                    <td>{{ transactionDetails.exchangeRate }}</td>
                    <td>{{ transactionDetails.fees }}</td>
                    <td>{{ transactionDetails.purposeOfTransfer }}</td>
                    <td>{{ transactionDetails.partnerReferenceNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction-details', transactionDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction-details', transactionDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transactionDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
